@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}@mixin around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}@mixin between  {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin flex  {
  display: flex;
  align-items: center;
}

@mixin centr {
  display: flex;
  align-items: center;
  justify-content: center;
}

















