* {
  margin: 0;
  padding: 0;
}

a  {
  text-decoration: none;
}

body {
  background: rgba(11, 11, 34, 0.9);
  backdrop-filter: blur(87.5px);
  font-family: "Noto Sans",sans-serif;
}

.container {
  width: 76%;
  margin: 0 auto;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}
input {
  border: none;
  outline: none;
  cursor: pointer;
}




